.phrase {
    padding: 10px;
    margin: 30px 15px;
    display: flex;
    flex-direction: column;
    font-size: small;
    color: var(--verde);
    height: 100vh;
    margin: 0;
}

.texto {
    display: inline-block;
    margin-right: 1rem;
    font-size: 12px;
}

@media (min-width: 768px) {}

@media (min-width: 1280px) {}